body {
    background-color: #fff;
    color: #000;
}

.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    height: 70vh;
    font-size: 4vw;
}

.center a {
    font-size: 2vw;
}

.m-bg {
    background-color: #00bcd4;
    padding: 1.5vw 3vw;
    margin-right: 1vw;
    font-size: 2vw;
}

.s-bg {
    background-color: #ff5722;
    padding: 1.5vw 3vw;
    margin-right: 1vw;
}

.c-bg {
    background-color: #4caf50;
    padding: 1.5vw 3vw;
    margin-right: 1vw;
}

.w-bg {
    background-color: #9e9e9e;
    padding: 1.5vw 3vw;
    margin-right: 1vw;
}

main {
    padding: 2vw;
}

.navbar {
    background-color: #f44336;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: yellow !important;
}

#navbar {
    display: none;
}

section {
    padding: 2vw;
    display: none;
}

.show-nav1 #Methode,
.show-nav2 #Acronyme,
.show-nav3 #Technique {
    display: block;
}

.show-nav1 .s-bg,
.show-nav2 .c-bg,
.show-nav3 .w-bg {
    font-weight: bold;
    text-decoration: underline;
}
.show-nav3 {
    display: block;
    background-image: url(assets/MoscowFond.jpg);
    width: 100%;
    background-size: cover;
    color: #fff;
    text-align: center;
    backdrop-filter: blur(10px);
}